/* Styling */

a {
    cursor: pointer;
}

h1 {
    font-weight: bold;
    text-shadow: 3px 3px 4px #55a1bb;
}

#header-container {
    position: fixed;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: white;
    border-bottom: 1px;
    box-shadow: 0 5px 7px -5px rgba(0, 0, 0, 0.8);
}

#logo {
    width: 80px;
    height: 80px;
}

#shopping-cart-img {
    width: 40px;
    height: 40px;
}

#container {
    display: grid;
    background-color: silver;
    margin: auto;
    justify-items: center;
    row-gap: 20px;
    font-family: "Sofia", sans-serif;
    padding: 100px 0px;  /* The padding on top and bottom is bigger than the header and the footer so that the sections don't overlap (header and footer are fixed). */
}

#find {
    width: 500px;
    height: 35px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-style: none;
    text-align: center;
}

#Searchbar {
    display: grid;
    grid-auto-flow: column;
    gap: 0;
}


#Searchbar > button {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: darkgrey;
    border-style: none;
    width: 50px;
}


#Filter-items {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    column-gap: 30px;
}

#Filter-items > button {
    border-radius: 12px;
    background-color: #fff;
    width: 80px;
    height: 35px;
    border-style: solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#footer-container {
    position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px;
    box-shadow: 0 -5px 7px -5px rgba(0, 0, 0, 0.8);
}

#footer-container a {
    padding: 30px 0 30px 30px;
}